
.rightSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 45%; /* Default for very small screens */
}

/* Small tablets and large phones (landscape) */
@media (min-width: 640px) {
  .rightSection {
    width: 90%; /* Occupies 80% of the hero section */
  }
}

/* Tablets and small laptops */
@media (min-width: 768px) {
  .rightSection {
    width: 90%; /* Maintains 80% width */
  }
}

/* Desktops and large tablets */
@media (min-width: 1024px) {
  .rightSection {
    width: 50%; /* 50% width when hero is in row direction */
  }
}

/* Large desktops */
@media (min-width: 1280px) {
  .rightSection {
    width: 50%; /* Maintains 50% width */
  }
}

/* Extra large desktops */
@media (min-width: 1536px) {
  .rightSection {
    width: 50%; /* Maintains 50% width */
  }
}