.navbar {
  padding: 0.5rem;
}

.largeScreenItem {
  display: none;
}

.smallScreenItem {
  display: flex;
}

/* Small phones */
@media (min-width: 320px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
}

/* Larger phones */
@media (min-width: 375px) {
  .navbar {
    padding: 0.5rem 1.5rem;
  }
}

/* Small tablets */
@media (min-width: 640px) {
  .navbar {
    padding: 0.5rem 2rem;
  }
}

/* Tablets and small laptops */
@media (min-width: 768px) {
  .navbar {
    padding: 0.5rem 4rem;
  }
}

/* Laptops and desktops */
@media (min-width: 1024px) {
  .navbar {
    padding: 0.5rem 8rem;
  }
  
  .largeScreenItem {
    display: flex;
  }

  .smallScreenItem {
    display: none;
  }
}

/* Large desktops */
@media (min-width: 1280px) {
  .navbar {
    padding: 0.5rem 10rem;
  }
}
