.conceptSection {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.tabsContainer {
  display: flex;
  flex-direction: column;
}

.tab {
  flex: 1;
  margin-right: 1rem; /* Add space between tabs */
}

.tab:last-child {
  margin-right: 0; /* Remove margin from the last tab */
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Styles for the NextUI Tabs component */
/* :global(.nextui-tabs-tab) {
  flex: 1;
  justify-content: center;
}

:global(.nextui-tabs-tab-content) {
  flex: 1;
  text-align: center;
} */