.authButton {
  width: 100%;
  justify-content: flex-start;
  background-color: white !important;
  color: black !important;
  border: 1px solid #e0e0e0 !important;
  font-weight: normal !important;
}

.buttonIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.errorButton {
  border-color: #f31260 !important;
}

.errorMessage {
  color: #f31260;
  margin-top: 8px;
  font-size: 14px;
}